/* Stories Component */
.stories {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  margin: 2rem;
  width: 62%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #201f1f;
  height: 70px;
  border-radius: 10px;
}

.stories::-webkit-scrollbar {
  display: none;
}

/* Story Component*/
.story {
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fafafa;
  font-size: small;
  cursor: pointer;
}

.story:hover {
  opacity: 0.8;
}

.story__image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transition: transform 450ms;
}

.story__image:hover {
  transform: scale(1.08);
}

.story__imageActive {
  border: 3px solid #bc2a8d;
}
